* { 
  font-family: 'Roboto Mono';
  background-color: #FAF9F6;
  padding:1em;
}

h1 { 
  font-weight: bold;
  /* padding: 1em; */
}

h4 { 
  /* padding: 1em; */
  font-weight: 100;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden { 
  display: none;
}
.province { 
  /* fill: #000; */
  stroke: #fff;
  stroke-width: 1px;
}

.province-hover { 
  fill: #666;
}

div.tooltip  { 
  /* color: #222;  */
  background-color: #fff;
  padding: .5em;
  border-radius: 2px;
  opacity: 0.8;
  position: absolute;
}



#map1 { 
  width: 45%;
  height: auto;
  float: left;
}

#my_dataviz { 
  width: 55%;
  height: auto; 
  float: left; 
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {
  #map1 {
    width: 100%; }
  #my_dataviz { 
    width: 100%;
  }
  footer { 
    margin-top: 5%;
  }
}

.footer { 
  transform: translate(0,-10%);
}
footer {
  width: 100%;
  float: left;
  text-align: center;
  /* background-color: DarkSalmon; */
  /* color: white; */
}
