* { 
  font-family: 'Roboto Mono';
}

.heading { 
  margin-bottom: 0.5em; 
  /* padding: 0.5em; */
}

h1, h4, h5, h6 { 
  font-weight: bold;
  font-weight: 100;
}

.body {
  padding: 1em;
  background-color: #FAF9F6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form { 
  margin-bottom: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .hidden { 
  display: none;
} */

.province { 
  /* fill: #000; */
  stroke: #fff;
  stroke-width: 1px;
}

.province-hover { 
  fill: #666;
}

div.tooltip  { 
  /* color: #222;  */
  background-color: #fff;
  padding: .5em;
  border-radius: 2px;
  opacity: 0.8;
  position: absolute;
  border-radius: 1em;
  display: block;
}

.visuals { 
  overflow: hidden;
  margin-bottom: -4em;
}

#map1 { 
  width: 45%;
  height: auto;
  float: left;
}

#my_dataviz { 
  width: 55%;
  height: auto; 
  float: left; 
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {
  #map1 {
    width: 100%; 
  }

  #my_dataviz { 
    width: 100%;
  }

  footer { 
    margin-top: 5%;
    font-size: 0.5em;
  }

  .visuals { 
    margin-bottom: 0;
  }

  .emoji { 
    font-size: 1em;
  }

  div.tooltip { 
    font-size: 2vw;
  }
}

.footer { 
  transform: translate(0,-10%);
}

footer {
  width: 100%;
  float: left;
  text-align: center;
}

.emoji { 
  font-size: 1em;
}

.heart { 
  color: #e25555;
}
